.container {
    display: grid;
    place-items: center;
    
  }
  
  .header {
    font-weight: 700;
    padding: 2.5vh;
  }
  
  .formContainer {
    display: grid;
    padding: 7vh;
    grid-gap: 2.5vh;
    border-width: 1px;
    font-weight: 700;
    letter-spacing: -1.0px;
    border-radius: 10px;
    border-width: 1px;
    align-items: center;
    width: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .companyName,
  .amount {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  
  .optionContainer {
    display: grid;
    grid-gap: 10px;
    
  }
  

  .buttonContainer {
    display: grid;
    place-items: center;
  }
  
  .issueButton {
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(78deg, rgba(159, 122, 234, 1) 0%, rgb(255, 97, 218) 100%);
  /* Rest of the CSS properties */
    padding: 10px;
  }
  

  .fileInput {
    border: 1px solid;
    color: #000;
  }
  
  .tableContainer {
    padding: 1vh;
    margin-top: 20px;
    display: grid;
    grid-gap: 2.5vh;
    border-width: 1px;
    font-weight: 700;
    letter-spacing: -1.0px;
    border-radius: 10px;
    border-width: 1px;
    align-items: center;
    width: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 50%;
  }
  
  .issuedReceipts {
    font-weight: bold;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  .table th,
  .table td {
    border: 1px solid;
    padding: 5px;
    
  }
  
  .table th {
    font-weight: bold;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Add the following CSS to your existing CSS file or create a new one */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity value for the desired darkness */
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox {
  background-color: #fff; /* Background color for the lightbox */
  padding: 20px;
  max-width: 400px; /* Adjust the width as needed */
  z-index: 10000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties as needed */
}

.lightbox h2 {
  margin-top: 0;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.content {
  padding: 10px;
}

/* Additional styling as per your requirements */

.content div {
  margin-bottom: 10px;
}

.content strong {
  margin-right: 5px;
}
